<!DOCTYPE html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/normalize.css">
</head>
<body>
  <img src="../static/MIS.png"> <!-- logo for the system -->
  <h1>{{title}}</h1>
  <p>Add Guest ID</p>
  <input type="name" placeholder="Your full Name">
  <input type="mssv" placeholder="Your ID (MSSV)"><br>
  <button>Save</button>
  <script>
    $("button").on("click",function(){
      alert("clicked!")
    });
  </script>
</body>